<%- include('../../pages/partials/head') %>
<%- include('../../pages/partials/header') %>
<div class="contenedor-descripcion">
  <div class="posicion-libro">
<div class="descripcion-libro">
<h1><%= libro.titulo %></h1>
<img src="<%= libro.imagen %>" alt="">
<p>Autor: <%= libro.autor %></p>
<p>descripcion:<%= libro.descripcion %></p>
<p>Precio: $ <%= libro.precio %></p>
<form action="/agregar-al-carrito" method="post">
    <input type="hidden" name="libroId" value="<%= libro.id %>">
    <input type="hidden" name="titulo" value="<%= libro.titulo %>">
    <input type="hidden" name="precio" value="<%= libro.precio %>">
    <input type="hidden" name="imagen" value="<%= libro.imagen %>">
    <button type="submit">Agregar al carrito</button>
  </form>
  <form action="/comprar" method="post">
    <input type="hidden" name="libroId" value="<%= libro.id %>">
    <input type="hidden" name="titulo" value="<%= libro.titulo %>">
    <input type="hidden" name="precio" value="<%= libro.precio %>">
    <select id="stock" name="stock">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button type="submit">comprar</button>
    
  </form>

</div>
</div>
</div>
<%- include('../../pages/partials/footer') %>