
<%- include('../../pages/partials/head') %>

<div class="container-usuarios">
    <h1 class="admin-titulo">Todos los usuarios</h1>
    <div class="admin-usuarios">
    
        <%- include('../../pages/partials/mensajes.ejs') %>
        <table class="tabla-editar-usuarios">
            <thead class="titulo-tabla">
                
                <tr >
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>acciones</th>
                    <tbody class=" tbody-tabla">
                        <%usuarios.forEach(usuario =>{%>
                            
                       
                        <tr class="usuarios-tabla">
                            <td><%=usuario.nombre%></td>
                            <td><%=usuario.email%></td>
                            <td class="container-editar-eliminar">
                                <a class="ancla-editar-usuarios" href="/editar/<%= usuario.id %>">Editar</a>

                                <form action="/eliminar/usuario/<%=usuario.id%>?_method=DELETE" method="POST">
                                    <input type="hidden"name="_method " value="DELETE">
                                    <button class="btn-eliminar" type="submit" >Eliminar</button>
                                </form>
                            </td>




                        </tr>
                        <%})%>





                    </tbody>
                    





                
               </tr>




            </thead>



        </table>





    </div>



    <div class="contenedor-boton-usuarios">
        <button class="boton-todos-usuarios"><a class="ancla-usuarios" href="/panel">Volver al panel</a></button>
    </div>


</div>

<%- include('../../pages/partials/footer') %>